@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    padding: 15px 60px;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: #111;
    color: #eee;
    border-radius: 5px;
    transition: background 500ms ease;
}

.btn:hover {
    cursor: pointer;
    background: #000;
}

.headline {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding-bottom: 50px;
    letter-spacing: 2px;
}

/* Navbar */
#navbar {
    width: 100%;
    background: #FF8FB5;
    color: #eee;
    height: 80px;
    position: fixed;
}

#navbar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 2rem;
    color: #FFF2E7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
#navbar-items {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    transform: 2ms ease-in;
}

#navbar-items li {
    text-decoration: none;
    color: white;
    padding: 10px;
    transform: 2ms ease-in;
    position: relative;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    
}
#navbar-items li:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(61, 61, 61);
    transition: all 1.5s ease; 

}

#navbar-items li:hover:before{
    width: 100%;
}

/* Showcase */
#showcase {
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    background: url('/img/showcasepet.jpg') no-repeat center center/cover;
    /* Overlay */
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
}

#showcase-container {
    text-align: center;
    font-family: 'Righteous', cursive;
}
#showcase-container h2 {
    font-size: 2.5rem;
}

#showcase-container p {
    font-size: 1.2rem;
    padding: 7px 0;
}


/* Product */
#product {
    width: 100%;
    padding: 50px;
}

#product-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#items {
    width: 650px;
}

#items .item {
    display: flex;
    padding: 10px;
    margin: 15px 0;
    font-size: 1.2rem;
    font-family: 'Righteous', cursive;
    
}

.iphone-x{
    padding: 50px;
}

/* Testimonials */
.testimonial {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background: #333;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
}

#testimonials {
    width: 100%;
    background: #222;
    color: #eee;
    padding: 50px;
}

#testimonials-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.testimonial .testimonial-image {
    height: 200px;
    width: auto;
    border-radius: 50%;
    margin: 15px;
}

/* Gallery */
#gallery {
    width: 90%;
    margin: auto;
    padding: 50px;
}

#gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    justify-items: center;
}

.gallery-image {
    display: inline-block;
    width: 350px;
    height: 360px;
    border-radius: 5px;
}

/* Footer */
#footer {
    background: #222;
    color: #eee;
    padding: 30px;
    text-align: center;
}

#gallery .headline{
    font-family: 'Ubuntu', sans-serif;
}